@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
header {
  background-color: #1f2021;
  height: 100vh;
}

header .header-menu {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-menu ul {
  display: flex;
  margin-left: 400px;
}

header .header-menu ul li {
  padding: 0px 15px;
  color: white;
}

header .header-menu ul li:hover {
  color: #00c7fc;
}

header .header-menu .search-logo {
  border-left: 2px solid grey;
  padding-left: 20px;
}

header .h1-wrapper {
  background-color: #0f748f;
  width: 50%;
  padding: 100px 0;
  margin-top: 230px;
}

@media (max-width: 599px) {
  header .h1-wrapper {
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }
}

header .h1-wrapper h1 {
  position: relative;
  left: 400px;
  color: white;
}

header .h1-wrapper h1 span {
  display: block;
  line-height: 50px;
}

@media (max-width: 599px) {
  header .h1-wrapper h1 {
    position: unset;
    padding: 0px 5px;
  }
}

header .h1-wrapper p {
  color: white;
  width: 55%;
  line-height: 30px;
  position: relative;
  left: 400px;
}

@media (max-width: 599px) {
  header .h1-wrapper p {
    position: unset;
    width: unset;
    padding: 0px 20px;
  }
}

main .service-section {
  text-align: center;
  margin-top: 80px;
}

main .service-section h2 {
  padding-bottom: 20px;
}

main .service-section .sections-logo {
  padding-bottom: 20px;
}

main .service-section p {
  width: 330px;
  margin: 0 auto;
  color: #a8a8a8;
}

main .service-section .service-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  margin: 100px 0 55px 0;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

main .service-section .service-wrapper .service-wrapper__monitor-content {
  display: flex;
  align-items: flex-start;
  justify-self: end;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__monitor-content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
  }
}

main .service-section .service-wrapper .service-wrapper__monitor-content img {
  padding-right: 80px;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__monitor-content img {
    padding-right: unset;
  }
}

main .service-section .service-wrapper .service-wrapper__monitor-content div {
  text-align: left;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__monitor-content div {
    text-align: center;
  }
}

main .service-section .service-wrapper .service-wrapper__monitor-content div p:first-of-type {
  padding-bottom: 15px;
  font-weight: bold;
  color: #22cefc;
  font-size: 22px;
}

main .service-section .service-wrapper .service-wrapper__monitor-content div p:last-of-type {
  color: #a8a8a8;
}

main .service-section .service-wrapper .service-wrapper__settings-content {
  display: flex;
  align-items: flex-start;
  justify-self: baseline;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__settings-content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
  }
}

main .service-section .service-wrapper .service-wrapper__settings-content img {
  padding-right: 80px;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__settings-content img {
    padding-right: unset;
  }
}

main .service-section .service-wrapper .service-wrapper__settings-content div {
  text-align: left;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__settings-content div {
    text-align: center;
  }
}

main .service-section .service-wrapper .service-wrapper__settings-content div p:first-of-type {
  padding-bottom: 15px;
  font-weight: bold;
  color: #22cefc;
  font-size: 22px;
}

main .service-section .service-wrapper .service-wrapper__settings-content div p:last-of-type {
  color: #a8a8a8;
}

main .service-section .service-wrapper .service-wrapper__calculate-content {
  display: flex;
  align-items: flex-start;
  justify-self: end;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__calculate-content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
  }
}

main .service-section .service-wrapper .service-wrapper__calculate-content img {
  padding-right: 80px;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__calculate-content img {
    padding-right: unset;
  }
}

main .service-section .service-wrapper .service-wrapper__calculate-content div {
  text-align: left;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__calculate-content div {
    text-align: center;
  }
}

main .service-section .service-wrapper .service-wrapper__calculate-content div p:first-of-type {
  padding-bottom: 15px;
  font-weight: bold;
  color: #22cefc;
  font-size: 22px;
}

main .service-section .service-wrapper .service-wrapper__calculate-content div p:last-of-type {
  color: #a8a8a8;
}

main .service-section .service-wrapper .service-wrapper__camera-content {
  display: flex;
  align-items: flex-start;
  justify-self: baseline;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__camera-content {
    flex-direction: column;
    align-items: center;
  }
}

main .service-section .service-wrapper .service-wrapper__camera-content img {
  padding-right: 80px;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__camera-content img {
    padding-right: unset;
  }
}

main .service-section .service-wrapper .service-wrapper__camera-content div {
  text-align: left;
}

@media (max-width: 599px) {
  main .service-section .service-wrapper .service-wrapper__camera-content div {
    text-align: center;
  }
}

main .service-section .service-wrapper .service-wrapper__camera-content div p:first-of-type {
  padding-bottom: 15px;
  font-weight: bold;
  color: #22cefc;
  font-size: 22px;
}

main .service-section .service-wrapper .service-wrapper__camera-content div p:last-of-type {
  color: #a8a8a8;
}

main .design-includes {
  background-color: #1f2022;
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

main .design-includes .design-includes-content {
  position: relative;
  left: 455px;
  background-color: #0f748f;
  padding: 80px 0 80px 80px;
  width: 30%;
}

main .design-includes .design-includes-content p {
  color: white;
}

main .design-includes .design-includes-content ul {
  padding-top: 50px;
}

main .design-includes .design-includes-content ul li {
  color: white;
}

main .design-includes .design-includes-content ul li span {
  padding-right: 30px;
}

main .portfolio-content .header-content {
  text-align: center;
}

main .portfolio-content .header-content h2 {
  margin-top: 100px;
  padding-bottom: 20px;
}

main .portfolio-content .header-content img {
  padding-bottom: 20px;
}

main .portfolio-content .header-content p {
  width: 400px;
  margin: 0 auto;
  color: #a8a8a8;
  line-height: 25px;
}

main .portfolio-content .portfolio-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 50px 0;
}

main .portfolio-content .portfolio-menu ul li {
  padding: 15px 35px;
  font-weight: bold;
}

main .portfolio-content .portfolio-menu ul li:hover {
  color: white;
  background-color: #00c7fc;
}

main .portfolio-content .portfolio-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

main .portfolio-content .portfolio-gallery div {
  width: 476px;
  height: 250px;
}

main .portfolio-content .portfolio-gallery div:nth-child(1) {
  background-color: #1f2021;
}

main .portfolio-content .portfolio-gallery div:nth-child(2) {
  background-color: #4a4b4c;
}

main .portfolio-content .portfolio-gallery div:nth-child(3) {
  background-color: #1f2021;
}

main .portfolio-content .portfolio-gallery div:nth-child(4) {
  background-color: #4a4b4c;
}

main .portfolio-content .portfolio-gallery div:nth-child(5) {
  background-color: #4a4b4c;
}

main .portfolio-content .portfolio-gallery div:nth-child(6) {
  background-color: #1f2021;
}

main .portfolio-content .portfolio-gallery div:nth-child(7) {
  background-color: #4a4b4c;
}

main .portfolio-content .portfolio-gallery div:nth-child(8) {
  background-color: #1f2021;
}

main .portfolio-content .btn-more {
  text-align: center;
}

main .portfolio-content .btn-more button {
  padding: 5px 45px;
  color: white;
  background-color: #00c7fc;
  border: none;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 19px;
}

main .awesome-video {
  background-color: #1f2021;
  padding: 120px 0;
}

main .awesome-video .awesome-video__content {
  background-color: #0f748f;
  text-align: center;
}

main .awesome-video .awesome-video__content h2 {
  color: white;
  padding: 50px 0 20px 0;
}

main .awesome-video .awesome-video__content p {
  color: white;
  padding-bottom: 40px;
}

main .awesome-video .awesome-video__content button {
  background-color: #1f2021;
  color: white;
  padding: 9px 35px;
  border: none;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 40px;
}

main .about-us {
  text-align: center;
}

main .about-us h2 {
  margin-top: 100px;
  padding-bottom: 20px;
}

main .about-us img:first-of-type {
  padding-bottom: 20px;
}

main .about-us p {
  width: 400px;
  margin: 0 auto;
  color: #a8a8a8;
  line-height: 25px;
}

main .random-text {
  padding: 60px;
  background-color: #1f2021;
  text-align: center;
  color: white;
}

main .random-text p:first-of-type {
  padding-bottom: 20px;
  width: 50%;
  margin: 0 auto;
  font-size: 25px;
}

main .random-text p:last-of-type {
  font-size: 14px;
}

main .pricing .pricing__header {
  text-align: center;
}

main .pricing .pricing__header h2 {
  margin-top: 100px;
  padding-bottom: 20px;
}

main .pricing .pricing__header img:first-of-type {
  padding-bottom: 20px;
}

main .pricing .pricing__header p {
  width: 400px;
  margin: 0 auto;
  color: #a8a8a8;
  line-height: 25px;
}

main .pricing .pricing__content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

main .pricing .pricing__content div {
  width: 300px;
  border-top: 1px solid #00c7fc;
  border-bottom: 1px solid #00c7fc;
  margin: 0px 20px;
  text-align: center;
  padding-top: 45px;
}

main .pricing .pricing__features {
  display: flex;
  justify-content: center;
}

main .pricing .pricing__features article {
  width: 300px;
  margin: 0px 20px;
  text-align: center;
}

main .pricing .pricing__features article div {
  width: 150px;
  border-bottom: 1px solid #00c7fc;
  padding: 25px 0;
  margin: 0 auto;
}

main .pricing .pricing__features article div:last-of-type {
  border-bottom: none;
}

main .pricing .pricing__features .btn-wrapper {
  border-top: 1px solid #00c7fc;
  border-bottom: none;
  margin-left: 0;
}

main .pricing .pricing__features .btn-wrapper button {
  padding: 7px 25px;
  margin-top: 35px;
  border: 1px solid #00c7fc;
  background-color: white;
}

main .pricing .contact-us-wrapper {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

main .pricing .contact-us-wrapper p {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
}

main .pricing .contact-us-wrapper button {
  padding: 10px 35px;
  color: white;
  background-color: #00c7fc;
  border: none;
  font-size: 17px;
}

main .subscribe-email {
  background-color: #1f2021;
  padding: 65px;
  display: flex;
  justify-content: center;
}

main .subscribe-email form input {
  width: 400px;
  padding: 10px;
  border: 1px solid white;
  background: #1f2021;
  cursor: text;
}

main .subscribe-email form input::placeholder {
  color: white;
}

main .subscribe-email form button {
  position: relative;
  right: 96px;
  padding: 9px;
  color: white;
  border: none;
  background-color: #00c7fc;
}

main .subscribe-email p {
  color: white;
  width: 600px;
}

main .contact-form .contact-form__header {
  text-align: center;
}

main .contact-form .contact-form__header h2 {
  margin-top: 100px;
  padding-bottom: 20px;
}

main .contact-form .contact-form__header img:first-of-type {
  padding-bottom: 20px;
}

main .contact-form .contact-form__header p {
  width: 400px;
  margin: 0 auto;
  color: #a8a8a8;
  line-height: 25px;
}

main .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .contact input {
  width: 490px;
  padding: 16px 0px 16px 15px;
  cursor: text;
}

main .contact input:first-of-type {
  margin: 30px 0;
}

main .contact input:last-of-type {
  margin-bottom: 30px;
}

main .contact input::placeholder {
  font-weight: bold;
  color: black;
  padding-left: 20px;
  margin-left: 30px;
}

main .contact textarea::placeholder {
  font-weight: bold;
  color: black;
  padding: 20px 20px;
}

main .btn-send {
  text-align: center;
}

main .btn-send button {
  border: none;
  color: white;
  background-color: #00c7fc;
  padding: 14px 40px;
  margin: 50px 0;
}

footer {
  text-align: center;
  background-color: #121116;
  padding: 90px 0 50px 0;
}

footer h3 {
  color: white;
  margin: 25px 0 15px 0;
}

footer .underline {
  width: 300px;
  border-top: 1px solid white;
  margin: 0 auto;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

footer ul li {
  color: white;
  padding: 0 15px;
}

footer p {
  margin-top: 80px;
  color: white;
}

footer p span {
  color: #00c7fc;
}
